menu "Example Configuration"

    config LED_GPIO
        int "LED GPIO number"
        default 14
        help
            GPIO number (IOxx) to blink on and off the LED.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

endmenu